.filters-group-container {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .filters-group-container {
    width: 30%;
    max-width: 350px;
    margin-top: 48px;
    flex-shrink: 0;
  }
}

/* Write your CSS here */

.searchcontainer {
  display: flex;

  justify-content: space-evenly;
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 3px;
  align-items: center;
  background-color: lightgrey;
}

.searchicon {
  font-size: 20px;
}

.search {
  background-color: transparent;
  border-radius: 5px;
  border: 0px;
  outline: none;
}
.categorylist {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  list-style-type: none;
  background-color: transparent;
  padding-left: 0px;
}
.button {
  border: 0px;
  margin-bottom: 30px;
  background-color: transparent;
}
.categoryeachlist {
  font-size: 20px;
  color: rgb(162, 164, 165);
}
.selectedcategoryeachlist {
  color: #0967d2;
  font-size: 20px;
}

.ratinglist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding-left: 0px;
}
.ratingeachlist {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.ratingimage {
  height: 20px;
}
.ratingtext {
  font-size: 10px;
  color: lightgrey;
}

.selectedratingtext {
  font-size: 10px;
  color: #0967d2;
}
.clearbutton {
  border: 1px solid lightblue;
  color: lightblue;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
}
